@import './Pagination/pagination';

.photo-gallery {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	gap: 0.5rem;

	&__total {
		display: flex;
		gap: 0.5rem;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 250px;
		gap: 0.8rem;

		&-image {
			justify-self: center;
			max-width: 25rem;
			width: 100%;
			height: 20rem;

			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 1rem;
			}
		}
	}
}
