@import './BreedSelector/breedSelector';
@import './SubBreedSelector/subBreedSelector';
@import './ImageCountSelector/ImageCountSelector';


.filter-panel {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap                  : 1rem;
  padding              : 1rem;
  background-color     : var(--base-yellow-light);
  border-radius        : 8px;
  box-shadow           : 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width            : 100%;
  overflow             : hidden;

  &__children {
    width: 100%;
  }
}
