:root {
	--brand-primary  : #1e293b;
	--brand-secondary: #0f141c;
	--brand-light    : #fcfdfd;
	--brand-dark     : #0f141c;

	--neutral-dark : #192252;
	--neutral-light: #eff3fa;

	--success-dark : #16671a;
	--success-light: #f2fddf;

	--error-dark : #7a0925;
	--error-light: #ffe6d6;

	--warning-dark : #736b16;
	--warning-light: #fffcd0;

	--information-dark : #003778;
	--information-light: #ccfdfe;

	--base-yellow-light : #fffee4;
	--base-yellow       : #fff286;
	--base-orange       : #ee562a;
	--base-bright-orange: #f8971d;
	--base-light        : white;
	--base-dark         : #050300;
	--base-border       : #ccc
}